:root{
  --primary: #2D2188;
  --white: #FFFFFF;
  --black: #000000;
  --primary-text:rgba(0, 0, 0, 0.87);
  --text-input: #00000099;
;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  text-rendering: optimizeSpeed;
  font-family: 'Roboto';
}
button,input{
  outline: none;
  border: none;
}
a{
  text-decoration: none;
}
